@use 'base/variables' as v;
@use 'base/mixins' as m;

.repartidores {
    padding: v.$separacion 0;

    &__heading {
        color: v.$secundario;
        text-align: center;
    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion);
        }
    }

    &__contenido {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__texto {
        color: v.$secundario;
        line-height: 1.5;
    }

    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
    }
}